<div class="notification is-primary" data-controller="closeflash" data-target="closeflash.target">
  <button class="delete" data-action="closeflash#close" ></button>
  <strong><%= notice %></strong>
</div>