<br>
<br> 
<section class="columns">
  <!-- left -->
  <section class="column is-4">
    <article>
      <figure class="image">
        <img src="https://fakeimg.pl/350x150/f0f0f0" alt="">
      </figure>
      <h2 class="title is-5">Creating a Pipeline to True Workplace Diversity</h2>
      <p class="content">Providing resources, offering acceptance, and involving people of color are keys to making your company more diverse...</p>
      <footer>
        <p>Arielle Wiltz in Modus</p>
        <p>Aug 7</p>
      </footer>
    </article>
  </section>
  <!-- left -->
  <!-- middle -->
  <section class="column is-4">
    <article class="media">
      <figure class="media-left">
        <img src="https://fakeimg.pl/100x100/">
      </figure>
      <div class="media-content">
        <h2 class="title is-5">I Worked for an Amish Reality TV Show</h2>
        <footer>
          <p>Arielle Wiltz in Modus</p>
          <p>Aug 7</p>
        </footer>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <img src="https://fakeimg.pl/100x100/">
      </figure>
      <div class="media-content">
        <h2 class="title is-5">I Worked for an Amish Reality TV Show</h2>
        <footer>
          <p>Arielle Wiltz in Modus</p>
          <p>Aug 7</p>
        </footer>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <img src="https://fakeimg.pl/100x100/">
      </figure>
      <div class="media-content">
        <h2 class="title is-5">I Worked for an Amish Reality TV Show</h2>
        <footer>
          <p>Arielle Wiltz in Modus</p>
          <p>Aug 7</p>
        </footer>
      </div>
    </article>
  </section>
  <!-- middle -->
  <!-- right -->
  <section class="column is-4">
    <article>
      <figure class="image">
        <img src="https://fakeimg.pl/350x200/f0f0f0" alt="">
      </figure>
      <h2 class="title is-5">Creating a Pipeline to True Workplace Diversity</h2>
      <p class="content">Providing resources, offering acceptance, and involving people of color are keys to making your company more diverse...</p>
      <footer>
        <p>Arielle Wiltz in Modus</p>
        <p>Aug 7</p>
      </footer>
    </article>
  </section>
  <!-- right -->
</section>

<hr>

<section class="columns">
  <!-- article list -->
  <section class="column is-7">

    <%= render partial: "story", collection: @stories %>

  </section>
  <!-- article list -->
  <section class="column is-1"></section>
  <section class="column is-4">
    <h2 class="title is-4">Popular on Medium</h2>
    <hr>

    <article class="media">
      <div class="media-left"><p class="has-text-grey-lighter is-size-3">01</p></div>
      <div class="media-content">
        <h3>Difficult Conversation Lessons From a Psychologist Who’s Been Dealing With People</h3>
        <footer>
          <p>Thomas Oppong</p>
          <p>Aug 7</p>
        </footer>
      </div>
    </article>

    <article class="media">
      <div class="media-left"><p class="has-text-grey-lighter is-size-3">02</p></div>
      <div class="media-content">
        <h3>Difficult Conversation Lessons From a Psychologist Who’s Been Dealing With People</h3>
        <footer>
          <p>Thomas Oppong</p>
          <p>Aug 7</p>
        </footer>
      </div>
    </article>

    <article class="media">
      <div class="media-left"><p class="has-text-grey-lighter is-size-3">03</p></div>
      <div class="media-content">
        <h3>Difficult Conversation Lessons From a Psychologist Who’s Been Dealing With People</h3>
        <footer>
          <p>Thomas Oppong</p>
          <p>Aug 7</p>
        </footer>
      </div>
    </article>

    <article class="media">
      <div class="media-left"><p class="has-text-grey-lighter is-size-3">04</p></div>
      <div class="media-content">
        <h3>Difficult Conversation Lessons From a Psychologist Who’s Been Dealing With People</h3>
        <footer>
          <p>Thomas Oppong</p>
          <p>Aug 7</p>
        </footer>
      </div>
    </article>

    <article class="media">
      <div class="media-left"><p class="has-text-grey-lighter is-size-3">05</p></div>
      <div class="media-content">
        <h3>Difficult Conversation Lessons From a Psychologist Who’s Been Dealing With People</h3>
        <footer>
          <p>Thomas Oppong</p>
          <p>Aug 7</p>
        </footer>
      </div>
    </article>
  </section>
</section>